<ion-header>
  <ion-navbar>
    <ion-title>
      {{id}} Cost Suits
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ng-container *ngFor="let suit of suits | async">
        <ng-container *ngIf="filter(suit)">
              <button ion-button *ngIf="filter(suit)">
                <div>
                  <ion-icon name="star"></ion-icon>
                  {{suit.payload.val().name}}
                </div>
              </button>
        </ng-container>
      </ng-container>
  </ion-list>
</ion-content>