<ion-header>
  <ion-navbar>
    <ion-title center>
      {{id}} Cost Suits
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="grad">
  <ion-buttons>
    <div text-center>
      <button ion-button class="button" (click)="viewHP()">
          Teams & Health Regulation
      </button>
    </div>
    </ion-buttons>
  <ion-grid fixed>
    <ion-row>
      <ng-container *ngFor="let suit of suits | async; let i = index">        
          <ion-col col-4
          padding
          align-self-start
          tappable
          align="center"
          *ngIf="filter(suit)"
          (click)="viewSuit(suit)">
          <img width="64" height="64" src= "{{suit.payload.val().imgsrc}}">
          <p>
          {{suit.payload.val().name}}
          </p>
          </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>