<ion-header>
  <ion-navbar>
    <ion-title>
      {{id}} Cost Suits
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="grad">
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let suit of suits | async">        
          <ion-col col-4
          padding
          align-self-start
          tappable
          align="center"
          *ngIf="filter(suit)"
          (click)="viewSuit(suit)">
          <img width="128" height="128" src="assets/imgs/Gundam-Thumbnail.png">
          <p>
          {{suit.payload.val().name}}
          </p>
          </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>