page-terms { 
    ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
        font-weight: bold;
      }  
    .grad { 
        background-image: linear-gradient(
            to bottom right,  
            color($colors, background-gradient, base) 0%, 
            color($colors, background-gradient, contrast) 100%);        
    }
    .button{
        border: 2x solid #000000;
        color: color($colors, buttonColor);
        background: linear-gradient(to bottom, color($colors, buttons, base) 0%,color($colors, buttons, contrast) 100%);
      }
}
