<ion-header>
    <ion-toolbar>
        <ion-buttons left>
            <button ion-button icon-only navPop>
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title align-center>
            {{id}} Teams & Health Regulation
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding class="grad">
    <table width = 100%>
        <tbody>
            <tr >
                <th></th>
                <th>Partner</th>
                <th>Rating</th>
                <th colspan="3">Death Order</th>
            </tr>
            <ng-container *ngFor="let comp of comps | async">
                <tr class="odd">
                    <td>
                        <button ion-button icon-only *ngIf="comp.expanded" (click)="comp.expanded = false" class="custom-button">
                            <ion-icon name="arrow-dropup" color="secondary"></ion-icon>
                        </button>
                        <button ion-button icon-only *ngIf="!comp.expanded" (click)="comp.expanded = true" class="custom-button">
                            <ion-icon name="arrow-dropdown" color="secondary"></ion-icon>
                        </button>
                    </td>
                    <td>{{comp.payload.val().partner}}</td>
                    <td>{{comp.payload.val().rating}}</td>
                    <td>{{comp.payload.val().deathOrder}}</td>
                </tr>
                <ng-container *ngIf="comp.expanded">
                    <tr class="dropdown">
                        <th colspan="2" align-left>Notes</th>
                        <td colspan="4">{{comp.payload.val().notes}}</td>
                    </tr>
                </ng-container>
            </ng-container>
        </tbody>
    </table>
</ion-content>