<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only navPop>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title align-center>
      {{suit.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="grad">
  <ion-grid>
    <ion-row>
      <ion-col>
        <img width="128" height="128" src="{{suit.imgsrc}}">
      </ion-col>
      <ion-col class="pilots">
        <h4>Pilots:</h4>
        <ng-container *ngFor="let pilot of pilots | async">
          {{pilot}}
          <br>
        </ng-container>
      </ion-col>


    </ion-row>
  </ion-grid>
  <br>
  <table style="width:100%" class="shootingHeader">
    <thead>
      <tr>
        <td colspan="6">
          Shooting
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th></th>
        <th></th>
        <th>Name</th>
        <th>Ammo</th>
        <th>Damage</th>
        <th>Cancels</th>
      </tr>
      <ng-container *ngFor="let shot of shooting | async">
        <tr class="odd">
          <td>
            <button ion-button icon-only *ngIf="shot.expanded" (click)="shot.expanded = false" class="custom-button">
              <ion-icon name="arrow-dropup" color = "secondary"></ion-icon>
            </button>
            <button ion-button icon-only *ngIf="!shot.expanded" (click)="shot.expanded = true" class="custom-button">
              <ion-icon name="arrow-dropdown" color = "secondary"></ion-icon>
            </button>
          </td>
          <th>{{shot.type}}</th>
          <td>{{shot.name}}</td>
          <td>{{shot.ammo}}</td>
          <td>{{shot.damage}}</td>
          <td>{{shot.cancels}}</td>
        </tr>
        <ng-container *ngIf="shot.expanded">
          <tr class="dropdown">
            <th colspan="2" align-left>Notes</th>
            <td>
              <img *ngIf="(shot.steppable) === 'Yes'" src="assets/imgs/Step.png">
              <img *ngIf="(shot.stun) === 'Yes'" src="assets/imgs/Stun.png">
              <img *ngIf="(shot.untechable) === 'Yes'" src="assets/imgs/Untech.png">
              <img *ngIf="(shot.vernier) === 'Yes'" src="assets/imgs/Vernier.png">
            </td>
            <td colspan="3">{{shot.notes}}</td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
  <br>
  <table style="width:100%" class="meleeHeader">
    <thead>
      <tr>
        <td colspan="6">
          Melee
        </td>
      </tr>
    </thead>
    <tr>
      <th></th>
      <th></th>
      <th>Input</th>
      <th>Damage</th>
      <th>Cancels</th>
    </tr>
    <ng-container *ngFor="let melee of melees | async">
      <tr class="odd">
        <td>
          <button ion-button icon-only *ngIf="melee.expanded" (click)="melee.expanded = false" class="custom-button">
            <ion-icon name="arrow-dropup" color = "secondary"></ion-icon>
          </button>
          <button ion-button icon-only *ngIf="!melee.expanded" (click)="melee.expanded = true" class="custom-button">
            <ion-icon name="arrow-dropdown" color = "secondary"></ion-icon>
          </button>
        </td>
        <ng-container *ngIf="previousType(melee.type); else elseBlock">
          <th></th>
          <td>{{melee.input}}</td>
          <td>{{melee.damage}}</td>
          <td>{{melee.routes}}</td>
        </ng-container>
        <ng-template #elseBlock>
          <th>{{melee.type}}</th>
          <td>{{melee.input}}</td>
          <td>{{melee.damage}}</td>
          <td>{{melee.routes}}</td>
        </ng-template>
      </tr>
      <ng-container *ngIf="melee.expanded">
        <tr class="dropdown">
          <th colspan="2" align-left>Notes</th>
          <td>
              <img *ngIf="(melee.steppable) === 'Yes'" src="assets/imgs/Step.png">
              <img *ngIf="(melee.stun) === 'Yes'" src="assets/imgs/Stun.png">
              <img *ngIf="(melee.untechable) === 'Yes'" src="assets/imgs/Untech.png">
          </td>
          <td colspan="3">{{melee.notes}}</td>
        </tr>
      </ng-container>
    </ng-container>
  </table>
  <br>
  <table class="specialHeader">
    <thead>
      <tr>
        <td rowspan="2" colspan="6">
          Supers
        </td>
      </tr>
    </thead>
    <tr>
      <th></th>
      <th></th>
      <th>Input</th>
      <th>Damage</th>
    </tr>
    <ng-container *ngFor="let special of specials | async">
      <tr class="odd">
        <td>
          <button ion-button icon-only *ngIf="special.expanded" (click)="special.expanded = false" class="custom-button">
            <ion-icon name="arrow-dropup" color = "secondary"></ion-icon>
          </button>
          <button ion-button icon-only *ngIf="!special.expanded" (click)="special.expanded = true" class="custom-button">
            <ion-icon name="arrow-dropdown" color = "secondary"></ion-icon>
          </button>
        </td>
        <th>{{special.name}}</th>
        <td class = "specialcell">{{special.input}}</td>
        <td class = "specialcell">{{special.damage}}</td>
      </tr>
      <ng-container *ngIf="special.expanded">
        <tr class="dropdown">
          <th colspan="2" align-left>Notes</th>
          <td colspan="4">{{special.notes}}</td>
        </tr>
      </ng-container>
    </ng-container>
  </table>

</ion-content>